<% title "About the Project", false %>

<%=  render "logos" %>

<article class="about-the-project">
  <h1>About the Project</h1>
  <section>
  <p>
    GaNCH (rhymes with "ranch"), is a project to create a publicly editable directory and map of Georgia's Natural, Cultural, and Historic organizations (NCHs), allowing for quick retrieval of location and contact information for disaster response. Directory information is compiled, updated, and uploaded directly to <%= external_link('Wikidata', 'https://www.wikidata.org/') %>, the linked open data database from the Wikimedia Foundation. Directory information is then delivered to this website where emergency responders can quickly search for NCHs in disaster areas.

    The <%= external_link('Atlanta University Center Robert W. Woodruff Library', 'https://www.auctr.edu/') %> would like to gratefully acknowledge <%= external_link('LYRASIS', 'https://www.lyrasis.org/') %> for their support of this project via a <%= external_link('2019 LYRASIS Catalyst Fund grant', 'https://web.archive.org/web/20200623200944/https://www.lyrasis.org/Leadership/Pages/2019-Catalyst-Fund-Projects.aspx') %>.

    All documentation and code for the project can be found publicly on GitHub: <%= external_link('https://github.com/clifflandis/GaNCH') %>
  </p>

    <p>The <%= external_link('Atlanta University Center Robert W. Woodruff Library', 'https://www.auctr.edu/', { target: '_new' }) %> would like to gratefully acknowledge <%= external_link('LYRASIS', 'https://www.lyrasis.org', { target: '_new' }) %> for their support of this project via a 2019 LYRASIS Catalyst Fund grant.</p>
  </section>
  <section>
    <h2>Project Partners</h2>
    <p>This project was only possible because of the tremendous participation and support we received from local, state, and regional NCH organizations, including:
    <ul>
      <li><%= external_link('LYRASIS', 'https://www.lyrasis.org/') %> <%= external_link('Q6709869', 'https://www.wikidata.org/wiki/Q6709869') %> </li>
      <li><%= external_link('HERA: Heritage Emergency Response Alliance', 'https://heraatlanta.wordpress.com/') %> <%= external_link('Q92423461', 'https://www.wikidata.org/wiki/Q92423461') %> </li>
      <li><%= external_link('SHER: Savannah Heritage Emergency Response', 'https://sheronline.info/') %> <%= external_link('Q92429089', 'https://www.wikidata.org/wiki/Q92429089') %> </li>
      <li><%= external_link('GEMA/HS: Georgia Emergency Management and Homeland Security Agency', 'https://gema.georgia.gov/') %> <%= external_link('Q5547471', 'https://www.wikidata.org/wiki/Q5547471') %> </li>
      <li><%= external_link('GALILEO: Georgia’s Virtual Library', 'http://www.galileo.usg.edu/') %> <%= external_link('Q5547580', 'https://www.wikidata.org/wiki/Q5547580') %> </li>
      <li><%= external_link('GPLS: Georgia Public Library Service', 'https://georgialibraries.org/') %> <%= external_link('Q30268112', 'https://www.wikidata.org/wiki/Q30268112') %> </li>
      <li><%= external_link('Georgia HomePlace', 'https://georgialibraries.org/homeplace/') %> <%= external_link('Q30268112', 'https://www.wikidata.org/wiki/Q30268112') %> </li>
      <li><%= external_link('SGA: Society of Georgia Archivists', 'https://soga.wildapricot.org/') %> <%= external_link('Q71430174', 'https://www.wikidata.org/wiki/Q71430174') %> </li>
      <li><%= external_link('SouthArts', 'https://www.southarts.org/') %> <%= external_link('Q72941246', 'https://www.wikidata.org/wiki/Q72941246') %> </li>
      <li><%= external_link('Performing Arts Readiness', 'https://performingartsreadiness.org/') %> <%= external_link('Q92434520', 'https://www.wikidata.org/wiki/Q92434520') %> </li>
      <li><%= external_link('Georgia Department of Natural Resources, Historic Preservation Division', 'https://georgiashpo.org/') %> <%= external_link('Q57907382', 'https://www.wikidata.org/wiki/Q57907382') %> </li>
      <li><%= external_link('GAMG: Georgia Association of Museums and Galleries', 'http://www.gamg.org/') %> <%= external_link('Q87488966', 'https://www.wikidata.org/wiki/Q87488966') %></li>
      <li><%= external_link('Georgia Council for the Arts', 'https://gaarts.org/') %> <%= external_link('Q87488974', 'https://www.wikidata.org/wiki/Q87488974') %> </li>
      <li><%= external_link('GHRAC: Georgia Historical Records Advisory Council', 'https://www.georgiaarchives.org/ghrac') %> <%= external_link('Q92430571', 'https://www.wikidata.org/wiki/Q92430571') %> </li> 
    </ul>
    </p>
  </section>
  <section>
    <h2>Team Members</h2>
    <ul>
      <li>Cliff Landis, Digital Initiatives Librarian, (Co-PI)</li>
      <li>Christine Wiseman, Department Head, Digital Services Department (Co-PI)</li>
      <li>Allyson F. Smith, Graduate Student Assistant</li>
      <li>Matthew Stephens, Web Developer</li>
      <li>Jessica Leming, Digital Curation Librarian</li>
      <li>Alex Dade, Library Technical Specialist</li>
    </ul>
  </section>

</article>