<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render 'shared/mail_styles' %>
    <div class="logos">
      <img src="https:<%= image_path 'ganch_logo.png' %>" class="logo ganch-logo" alt="Georgia’s Natural Cultural and Historic Organizations for Disaster Response logo" title="GaNCH logo" height="64" width="177" style="display:block" />
      <img src="https:<%= image_path 'aucrwwl_logo.jpg' %>" class="logo aucrwwl-logo" alt="Atlanta University Center Robert W. Woodruff Library logo" title="AUC logo" height="64" width="297" style="display:block" />
    </div>
    <h1>Welcome to GaNCH, <%= @user.name %></h1>
    <p>
      You have successfully signed up to GaNCH,
      your username is: <b><%= @user.name %></b>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="//<%= @url %>" ><%= @url %></a>.
    </p>
    <p>Thanks for joining and have a great day!
      <br />
      <br />
      The GaNCH Team
      <br />
      <br /><a href="mailto:<%= headers.reply_to.first %>"><%= headers.reply_to.first %></a>
    </p>
  </body>
</html>