<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to GaNCH, <%= @user.name %></h1>
    <p>
      You have successfully signed up to GaNCH,
      your username is: <b><%= @user.name %></b>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="//<%= @url %>" ><%= @url %></a>.
    </p>
    <p>Thanks for joining and have a great day!
      <br />
      <br />
      The GaNCH Team
      <br />
      <br /><a href="mailto:<%= headers.from.first %>"><%= headers.from.first %></a>
    </p>
  </body>
</html>