<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <style>
      li {
        line-height: 133%;
      }
      article {
        max-width: 600px;
        margin-top: 20px;
      }
    </style>
    <%= render 'shared/mail_styles' %>
    <div class="logos">
      <%= image_tag "ganch_logo.png", class: 'logo ganch-logo', alt: "Georgia’s Natural Cultural and Historic Organizations for Disaster Response logo" %>
      <%= image_tag "aucrwwl_logo.jpg", class: 'logo aucrwwl-logo', alt: 'Atlanta University Center Robert W. Woodruff Library logo' %>
    </div>
    <article>
      <strong>Greetings!</strong>
      <p>Please review the following emergency contact information for your organization.  Keeping this information up-to-date will help cultural heritage emergency responders find your organization in the event of a disaster.  If any of this information is no longer correct, please reply to this email with the corrected information:</p>
      <ul>
        <li>Organization Name: <b><%= @recipient.organization %></b></li>
        <li>Street Address: <%= @recipient.address %></li>
        <li>Coordinate Location: <%= link_to make_map_link(@recipient.location), make_map_link(@recipient.location), { target: '_blank' } %></li>
        <li>Phone Number: <%= @recipient.phone %></li>
        <li>Email address: <%= @recipient.email %></li>
      </ul>
      <p>
        You can also review additional information about your organization on this webpage: <%= external_link "#{@recipient.wikidata_url}", @recipient.wikidata_url, { target: '_new' } %><br>
      </p>
      <p>
        For more information about this annual email reminder and our efforts to preserve Georgia’s Natural, Cultural, and Historic Organizations, please visit: <%= link_to url_for(controller: 'static_pages',
            action: 'about').gsub(/\?.*$/, ''), url_for(controller: 'static_pages',
            action: 'about').gsub(/\?.*$/, '') %>
      </p>
      <p>Thanks,

        The GaNCH Team
        <br />
        <br /><a href="mailto:<%= headers.reply_to.first %>"><%= headers.reply_to.first %></a>
      </p>
    </article>
  </body>
</html>