<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <strong>Greetings!</strong>
    <p>Please review the following emergency contact information for your organization.  Keeping this information up-to-date will help cultural heritage emergency responders find your organization in the event of a disaster.  If any of this information is no longer correct, please reply to this email with the corrected information:</p>
    <ul>
      <li>Organization Name: <%= @recipient.organization %></li>
      <li>Street Address: <%= @recipient.address %></li>
      <li>Coordinate Location: <%= link_to make_map_link(@recipient.location), make_map_link(@recipient.location), { target: '_blank' } %></li>
      <li>Phone Number: <%= @recipient.phone %></li>
      <li>Email address: <%= @recipient.email %></li>
    </ul>
    <p>
      You can also review additional information about your organization on this webpage: <%= external_link "#{@recipient.wikidata_url}", @recipient.wikidata_url, { target: '_new' } %><br>
    </p>
    <p>
      For more information about this annual email reminder and our efforts to preserve Georgia’s Natural, Cultural, and Historic Organizations, please visit: <%= route_for :about %>
    </p>
    <p>Thanks,

      The GaNCH Team

      [sender email address]
    </p>
  </body>
</html>