<h1>Recipients</h1>

<!-- TODO: move button to page footer -->
<%= link_to "Send reminders", send_reminders_confirm_path, method: :delete, data: { confirm: "Are you sure?" } %>

<% if @recipients.length > 0 %>
<table id="recipient-table" data-toggle="table" data-sortable="true" data-search="true" class="ganch-table recipient-table table-striped">
  <thead>
    <tr>
      <% ['organization','email','phone','user'].each do |column| %>
        <th data-field="<%= column %>" data-sortable="true"><%= column %><i class="fas fa-flag"></i></th>
      <% end %>
      <th>Part Of</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <% user = get_user recipient %>
      <tr>
        <td><%= recipient.organization %></td>
        <td class="email"><%= recipient.email %></td>
        <td class="phone"><%= recipient.phone && link_to(recipient.phone, "tel:#{recipient.phone}") %></td>
        <td><%= user.name %></td>
        <td class="query"><%= recipient.query ? link_to(recipient.query.title, recipient.query) : nil %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
