<h1>Recipients</h1>

<% if @recipients.length > 0 %>
<table class="ganch-table table-striped">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Wikidata URL</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Street Address</th>
      <th>Location Coordinates</th>
      <th>Created by</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <% user = get_user recipient %>
      <tr>
        <td><%= recipient.organization %></td>
        <td><%= recipient.wikidata_url %></td>
        <td><%= recipient.email %></td>
        <td><%= recipient.phone && link_to(recipient.phone, "tel:#{recipient.phone}") %></td>
        <td><%= recipient.address %></td>
        <td><%= recipient.location %></td>

        <td><%= user.name %></td>
        <td><%= link_to 'Show', recipient %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<%= link_to 'New recipient', new_recipient_path %>
