<h1>Recipients</h1>

<% if @recipients.length > 0 %>
<table class="ganch-table recipient-table table-striped">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created by</th>
      <th>Part Of</th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <% user = get_user recipient %>
      <tr>
        <td><%= recipient.organization %></td>
        <td class="email"><%= recipient.email %></td>
        <td class="phone"><%= recipient.phone && link_to(recipient.phone, "tel:#{recipient.phone}") %></td>
        <td><%= user.name %></td>
        <td class="query"><%= link_to recipient.query.title, recipient.query %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<%= link_to 'New recipient', new_recipient_path %>
