<div class="query-title-container">
  <h1><%= @query.title %></h1>
  <%= render "queries/display/wikidata_editor" %>
</div>

<% if @query.response != '' && !@query.response.nil? %>
  <%= render "queries/display/map" %>
  <%= render "queries/display/table" %>
<% else %>
  <%=  render "queries/display/not_found" %>
<% end %>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>

