<%=  render "static_pages/logos" %>

<% unless @query.nil? %>

<div class="query-title-container">
  <h1><%= @query.title %></h1>
  <%= render "queries/display/wikidata_editor" %>
</div>

<% if @query.response != '' && !@query.response.nil? %>
  <%-# render map -%>
  <%= render "queries/display/map" %>

  <%-# render tables for desktop & mobile -%>
  <% headers, body = merge_first_and_label(@query.headers, @query.body) %>
  <% is_mobile = true %>
  <%= render partial: "queries/display/table", locals: { headers:     @table_headers, body: body, mobile_view: is_mobile, id: 'mobile' } %>
  <%= render partial: "queries/display/table", locals: { headers: @table_headers, body: body, mobile_view: !is_mobile, id: 'desktop' }  %>
<% else %>
  <%=  render "queries/display/not_found" %>
<% end %>

<footer>
  <% if current_user %>
    <%= link_to 'Edit', edit_query_path(@query) %> |
    <%= link_to 'Back', queries_path %>
  <% else %>
    <%= link_to 'Home', root_path %>
  <% end %>
</footer>
<% end %>