<h1>Table</h1>
<table id="table" data-toggle="table" data-sortable="true">
  <thead class="thead">
    <% @query.headers.each do |column| %>
      <th data-field="<%= column %>" data-sortable="true"><%= column %></th>
    <% end %>
  </thead>
  <tbody>
    <% @query.body.each do |row| %>
      <tr>
        <% @query.headers.each do |col| %>
          <td><%= !row[col].nil? ? row[col]['value'] : '' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
