<!DOCTYPE html>
<html>
  <head>
    <title>GaNCH<%= " | "+yield(:title) unless yield(:title).blank? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to "GaNCH", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbardExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <%= nav_link "Home", root_path %>
          <%= nav_link "About", about_path %>
        </ul>
        <ul class="navbar-nav pull-right mr-auto">
          <% if current_user %>
            <%= nav_link current_user.name, current_user %>
            <%= nav_link "Logout", logout_path %>
          <% else %>
            <%= nav_link "Sign Up", signup_path %>
            <%= nav_link "Login", login_path %>
          <% end %>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      <!-- Begin Flash messages -->
      <div id="flash-messages" class="row">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger'%> alert-dismissable col" role="alert">
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      </div>
      <!-- End Flash messages -->

      <!-- Begin Title Code -->
      <div id="title" class="row">
        <div class="col">
          <h1><%= yield(:title) %>
        </div>
      </div>
      <!-- End Title Code -->
      <%= yield %>
    </main>
  </body>
</html>
