<!DOCTYPE html>
<html>
  <head>
    <title>GaNCH<%= " | "+yield(:title) unless yield(:title).blank? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name='turbolinks-visit-control'
      content='<%= yield_meta_tag(:'turbolinks-visit-control', '') %>' />
  </head>

  <body>
    <%= render "layouts/nav" %>
    <main role="main" class="container">
      <!-- Begin Flash messages -->
      <div id="flash-messages" class="row">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger'%> alert-dismissable col" role="alert">
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      </div>
      <!-- End Flash messages -->

      <!-- Begin Title Code -->
      <div id="title" class="row">
        <div class="col">
          <h1><%= yield(:title) %>
        </div>
      </div>
      <!-- End Title Code -->
      <%= yield %>
    </main>
  </body>
</html>
